<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="login.component.css" />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <h1>Iniciar Sesión</h1>
        <!-- Agrega el formulario aquí -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              type="email"
              formControlName="correo"
              placeholder="Correo Electrónico"
              required
            />
            <div
              *ngIf="
                loginForm.controls['correo'].invalid &&
                loginForm.controls['correo'].touched
              "
            >
              <small *ngIf="loginForm.controls['correo'].errors?.['required']"
                >El correo es obligatorio.</small
              >
              <small *ngIf="loginForm.controls['correo'].errors?.['pattern']"
                >Formato de correo no válido.</small
              >
            </div>
          </div>
          <div class="form-group">
            <input
              type="password"
              formControlName="contraseña"
              placeholder="Contraseña"
              required
            />
            <div
              *ngIf="
                loginForm.controls['contraseña'].invalid &&
                loginForm.controls['contraseña'].touched
              "
            >
              <small
                *ngIf="loginForm.controls['contraseña'].errors?.['required']"
                >La contraseña es obligatoria.</small
              >
              <small
                *ngIf="loginForm.controls['contraseña'].errors?.['minlength']"
                >La contraseña debe tener al menos 8 caracteres.</small
              >
            </div>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="loginForm.invalid">
              Iniciar Sesión
            </button>
          </div>
        </form>
        <!-- Fin del formulario -->
        <div class="form-group">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="form-group">
          <p>¿No tienes una cuenta? <a href="#">Regístrate</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
