<div class="container">
  <div class="left-column">
    <div class="universidad-content">
      <img
        src="../../assets/logouv.png"
        alt="UV Logo"
        class="universidad-imagen"
      />
      <div class="texts">
        <p class="universidad-texto">Universidad Veracruzana</p>
        <p class="sistema-texto">Sistema Integral de Asistencia Estudiantil</p>
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="registro-container">
      <h1>Registrarse</h1>
      <form [formGroup]="registroForm" (ngSubmit)="onRegister()">
        <div class="input-wrapper matricula-field">
          <div class="input-icon">school</div>
          <mat-form-field class="full-width">
            <mat-label>Matrícula</mat-label>
            <input
              matInput
              formControlName="matricula"
              placeholder="S20020028"
              required
            />
            <mat-error
              *ngIf="registroForm.controls['matricula'].hasError('required')"
            >
              La matrícula es <strong>obligatoria</strong>.
            </mat-error>
            <mat-error
              *ngIf="registroForm.controls['matricula'].hasError('pattern')"
            >
              Formato de matrícula no válido.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-wrapper correo-field">
          <div class="input-icon">email</div>
          <mat-form-field class="full-width">
            <mat-label>Correo Electrónico</mat-label>
            <input
              matInput
              formControlName="correo"
              placeholder="S20020028@estudiantes.uv.mx"
              required
            />
            <mat-error
              *ngIf="registroForm.controls['correo'].hasError('required')"
            >
              El correo es <strong>obligatorio</strong>.
            </mat-error>
            <mat-error
              *ngIf="registroForm.controls['correo'].hasError('pattern')"
            >
              Formato de correo no válido.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input-wrapper contrasena-field">
          <div class="input-icon">lock</div>
          <mat-form-field class="full-width">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="contraseña"
              required
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-error
              *ngIf="registroForm.controls['contraseña'].hasError('required')"
            >
              La contraseña es <strong>obligatoria</strong>.
            </mat-error>
            <mat-error
              *ngIf="registroForm.controls['contraseña'].hasError('minlength')"
            >
              La contraseña debe tener al menos 8 caracteres.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="file-input">
          <input
            type="file"
            id="file"
            (change)="onImageSelected($event)"
            hidden
          />
          <label for="file" class="file-label">
            <mat-icon>file_upload</mat-icon>
            {{ selectedFileName }}
          </label>
        </div>

        <div *ngIf="imagePreview" class="image-preview">
          <img
            [src]="imagePreview"
            alt="Vista previa de la imagen seleccionada"
          />
        </div>
        <div class="submit-button">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="registroForm.invalid"
            class="submit-button"
          >
            Registrarse
          </button>
        </div>
      </form>
      <div class="form-group">
        <p>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesión</a></p>
      </div>
    </div>
  </div>
</div>
